/* .container {
    background-image: linear-gradient(to bottom, #414141, #000000);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container p {
    font-size: 100px;
    font-family: Montserrat;
} */

.float_child {
    width: 100%;
    padding: 21px;
}

.left_child {
    display: inline-flex;
    justify-content: center;
}