@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url('../public/font/montserrat/Montserrat-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background-color: #171717;
    font-size: 1rem;
    position: relative;
    min-height: 100vh;
    padding: 1.25rem;
}

.footer {
    align-items: center;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
}

.footer p {
    text-align: center;
    position: relative;
    font-family: Montserrat;
    color: #ffffff;
}

.footer p:before {
    display: block;
    width: 40%;
    height: 1px;
    background: rgb(76, 76, 76);
    left: 0;
    top: 50%;
    position: absolute;
}

.footer p:after {
    display: block;
    width: 40%;
    height: 1px;
    background: rgb(76, 76, 76);
    right: 0;
    top: 50%;
    position: absolute;
}

.center {
    text-align: center;
}

.left:after {
    display: block;
    width: 26%;
    height: 1px;
    background: #000000;
    right: 0;
    position: absolute;
    top: 34px;
}

.right {
    text-align: right;
}

.right:before {
    display: block;
    width: 26%;
    height: 1px;
    background: #000000;
    left: 0;
    position: absolute;
    top: 34px;
}

.left {
    text-align: left;
}

.float_child {
    width: 100%;
}

.left_child {
    display: inline-flex;
    justify-content: center;
}

.float_child p {
    font-size: 100px;
    font-family: Montserrat;
}

.popup-root.popup-content {
    width: 313px;
    box-shadow: 0 0 3px rgb(0 0 0 / 16%);
    border-radius: 5px;
    padding-top: 5px;
}

.popup-content {
    width: 313px !important;
}

.dot {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

.svg_container {
    width: 5%;
    height: 5%;
}

.float_child img {
    padding: 20px;
}

.margin-center {
    margin: 25rem 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sub-container {
        height: 91.5vh;
    }

    .footer p {
        font-size: 10px;
    }

    .desk-nav {
        display: none;
    }

    .mob-index {
        margin-top: 20rem;
    }

    .mob-txt {
        font-size: 0.6rem !important;
        margin: 6rem 0 0 0;
    }
}

@media only screen and (max-width: 420px) {
    .navbar-mob {
        display: inline-block !important;
        position: fixed;
    }
}

/* iPhone 12 Pro */
@media (max-height: 740px) {
    .mob-txt {
        margin-top: 1rem !important;
    }

    .navbar-mob {
        display: inline-block !important;
        position: fixed;
    }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {
    .navbar-mob {
        display: inline-block !important;
        position: fixed;
    }
}

.navbar-mob {
    display: none;
}

.menu {
    font-family: Montserrat;
    position: absolute;
    color: #fff;
    background-color: #171717;
}

.menu a {
    font-size: -webkit-xxx-large;
    font-family: Montserrat;
    padding-left: 50px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1-change {
    transform: translate(0, 11px) rotate(-45deg);
}

.bar2-change {
    opacity: 0;
}

.bar3-change {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-change {
    display: block;
}

.non-display {
    display: none;
}